<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonoMuse - Explore</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Explore</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="./explore.html">Explore</a>
        <a href="./exhibitions.html">Exhibitions</a>
        <a href="./tickets.html">Buy Tickets</a>
        <a href="./checkout.html">Checkout</a>
    </nav>
    <img src="../static/museum.jpg" alt="MonoMuse" width="500pt" height="500pt">

    <h2>Our Mission</h2>
    <p>MonoMuse is dedicated to promoting the understanding and appreciation of modern art through innovative exhibitions and educational programs.</p>
    <br>
    <h2>Milestones</h2>
    <ul>
        <li>2020: MonoMuse opens its doors to the public.</li>
        <li>2021: First major exhibition featuring contemporary artists.</li>
        <li>2022: Launch of educational programs for schools and communities.</li>
        <li>2023: Expansion of gallery space to accommodate larger exhibitions.</li>
        <li>2024: Introduction of virtual tours and online exhibitions.</li>
    </ul>
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>