<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MonoMuse - Explore</title>
    <link rel="stylesheet" href="../static/styles.css" />
 <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../static/script.js" defer></script>  
</head>
  <body>
    <div class="container">
      <header class="header">
        <h1>MonoMuse</h1>
      </header>
      <nav class="nav_bar">
            <i class="fa fa-bars" id="hamburger"></i>
            <a href="../index.html" class="responsive">Home</a>
            <a href="./explore.html" class="responsive">Explore</a>
            <a href="./exhibitions.html" class="responsive">Exhibitions</a>
            <a href="./tickets.html" class="responsive buy-tickets">Buy Tickets</a>
            <a href="./donate.html" class="responsive">Donate</a>
            <a href="./logistics.html" class="responsive">Hours & Location</a>
      </nav>
      <main class="checkout_main">
        <h1>Tickets</h1>
        <table>
          <tr>
            <th>Ticket Type</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>Adult</td>
            <td>Full-price ticket for adults.</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>Child</td>
            <td>Reduced-price ticket for children.</td>
            <td>$10.00</td>
          </tr>
        </table>
        <button id="selectTickets">Choose Tickets</button>
        <div id="checkoutForm">
            <form onsubmit="purchase()">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="email">Zip Code:</label>
            <input title="zip" type="text" id="zip" name="zip" maxlength="5"><br>
            <label for="trip-date">Select a date (open Monday thru Friday):</label>
            <input type="date" id="trip-date" name="trip"><br>
            <div style="display:flex; flex-direction:row; justify-content: center;">
            <label for="type">Type:</label>
            <select title="type" name="type" id="type">
              <option value="adult">Adult</option>
              <option value="child">Child</option>
            </select>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
            </div><br>
             <br>
            <div style="display:flex; flex-direction:row; justify-content: center; gap: 1px;">
            <p>Subscribe to our newsletter</p>
            <input type="checkbox" id="subscribe" name="subscribe" value="newsletter"> 
            </div>
            <br>
            <div style="display:flex; flex-direction:row"><p>Total:</p><p id="totalAmount">0.00</p></div>
            <br>

            <button type="submit">Buy Now</button>
            </form>
        </div>
      </main>
      <footer class="footer">
          <p id="copyYear">&copy; MonoMuse. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
