<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exhibitions</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="./explore.html">Explore</a>
        <a href="./exhibitions.html">Exhibitions</a>
        <a href="./tickets.html">Buy Tickets</a>
        <a href="./checkout.html">Checkout</a>
    </nav>
    <h3>Ancient Greek Ceramics</h3>
    <p>Greek architecture and sculpture is revered around the world. But, Greek artisans also had great prowess in the medium of pottery.</p>
    <h3>Post Modern Art</h3>
    <p>Post modern art is characterized by its rejection of traditional artistic values and its embrace of abstract stylings. Our display features several paintings and exhibitions by acclaimed contemporary artists.</p>
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>