<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonoMuse - Explore</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Checkout</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="./explore.html">Explore</a>
        <a href="./exhibitions.html">Exhibitions</a>
        <a href="./tickets.html">Buy Tickets</a>
        <a href="./checkout.html">Checkout</a>
    </nav>
    <br><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="1" min="1" max="100"><br><br>
    <button type="submit">Submit</button>
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>