* {
  padding: 5px;
  margin: 5px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
}

#logo {
  width: 15vw;
  display: block;
}

nav a {
  text-decoration: none;
  color: #f5f5f7;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}

nav a:hover {
  border-color: #4d5c3b;
  }

nav {
  background-color: black;
}

nav #selected{
  color:bisque;
}

#buy-tickets {
  color: lightblue;
  text-decoration: underline;
}

footer {
  border-top: 1px solid gray;
  padding: 18px 16px;
  text-align: center;
  color: black;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
form * {
  margin: auto;
  text-align: center;
  display: block;
}
